body {
    background-color: black;
    font-style: normal;
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: inherit;
    color:white;
}

html, body {
    margin: 0;
    padding: 0;
}

nav {
    height: 45px;
    background-color: green;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

nav li {
   display: flex;
    justify-content: flex-end;
    float: left;
    list-style-type: none;
    text-size-adjust: 40px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: x-large;
}

header {
    height: 125px;
    width: 100%;
    box-sizing: border-box;
    background-image: url(../css/binary-code.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: green;
    text-align: left;
    display: block;
    padding: 25px;
    font-size: xx-large;
}

img {
    width: 150px;
    height: auto;
    border-style:groove;
}

#my-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

#top-container {
    display: flex;
    flex-direction: row;
    border-left: green 5px solid;
}

#topbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(80% - 150px);
}

#aboutme-container {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

#work-container {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

#contactme-container {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.left-container {
    width: 15%;
    font-size:xx-large;
    text-align: right;
    margin-right: 50px;
}

.right-container {
    display: flex;
    flex-wrap: wrap;
    border-left: green 5px solid;
    width: 80%;
} 

#box1 {
    height: 400px;
    width: 500px;
    background-image: url(../css/html5-logo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 10px;
    width: 87%;
}

#box2 {
    background-image: url(../css/CSS-logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40%;
    padding-left: 10px;
}

#box3 {
    background-image: url(../css/JS-logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40%;
    padding-left: 10px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    border: green 2px solid;
}

#box4 {
    display: flex;
    flex-direction: row;
    width: 87%;
    align-content: center;
}

#box4 li {
    display: flex;
    flex-direction: row;
    float: left;
    list-style-type: none;
    text-size-adjust: 40px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: x-large;
}

#box1 h4 {
    margin: 35% 50% 20% 1%;
}

h4 {
    background-color: green;
    background-size: cover;
    
}
@media screen and (max-width: 600px) {
    /* #box1 {
    width: 25%;
    } */

}