body {
    background-color: black;
    font-style: normal;
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: inherit;
    color:white;
}

html, body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: green;
    background-size: cover;
}

#topnavbar li {
    display: inline-block;
    text-align: right;
    list-style-type: none;
    text-size-adjust: 40px;
    margin-left: 20px;
    color: white;
}

header {
    width: 100%;
    box-sizing: border-box;
    background-image: url(../css/binary-code.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: green;
    text-align: right;
    display: inline-block;
    padding: 25px;
    font-size: xx-large;
}

img {
    width: 150px;
    height: auto;
    border-style:groove;
}

#my-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

#top-container {
    display: flex;
    flex-direction: row;
    border-left: green 5px solid;
}

#topbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(70% - 150px);
}

#aboutme-container {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

#work-container {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

#contactme-container {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.left-container {
    width: 25%;
    font-size:xx-large;
    text-align: right;
    margin-right: 50px;
}

.right-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: green 5px solid;
    width: 75%;
} 

#box1 h4 {
    display: block;
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

#box1 {
    background-image: url(../css/html5-logo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    display: block;
}

#box2 {
    background-image: url(../css/CSS-logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}

.box {
    display: flex;
    flex-wrap: wrap;
    border: green 5px solid;
}

#bottom-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: green 5px solid;
}

#bottom-container li {
    display: flex;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: inline-block;
    margin-left: 20px;
}